.project {
    max-width: 720px;
}
.project:not(:last-child) {
    margin: 0 0 16px 0;
}
.name {
    font-size: 24px;
    margin: 0 0 4px 0;
}
.description {
    font-size: 18px;
    margin: 0 0 8px 0;
}
.stack {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 0 0 8px 0;
}
.stackList {
    display: flex;
    column-gap: 8px;
}
.publishedAt {
    margin: 0 0 8px 0;
}
.links {
    display: flex;
    column-gap: 16px;
}